---
---
// Your variable overrides
$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

// Jumbotron
$jumbotron-padding:                 2rem !default;
$jumbotron-bg:                      #ffffff;

// Bootstrap and its default variables
@import "bootstrap";
