<!-- Head -->
<!-- Required Meta -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- CSS -->
<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ "/src/aos/aos.css" | prepend: site.baseurl }}" >
<link rel="stylesheet" href="{{ "/css/footer.css" | prepend: site.baseurl }}">
<!-- SEO -->
<title>{% if page.title == null %}{{ site.title}}{% else %}{{ page.title }}{% endif %}</title>
<meta name="description" content="{% if page.description == null %}{{ site.title}}{% else %}{{ page.description }}{% endif %}"/>
